body{
    background: url("/image/whitebg.jpg") repeat;
    font-family:"Microsoft Yahei" ;
    color: #787978;
}
html,body{
    font-size: 16px;
}

h1{
    font-size: 32px;

}

h2{
    font-size: 28px;
}


h3{
    font-size:24px;
    margin:15px 0;
}

span,a,li{
    font-size: calc(12rem/14);
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0;
    margin: 0;
}

a{
    color:#FFF;
    text-decoration: none;
}
a:hover{
    color:#948C76;
    text-decoration:underline;
}
p{
    margin-bottom: 0;
    /*padding-right:1em;*/
    text-align: justify;
}

li{
    margin-top: 10px;
    color: #FFF;
    list-style-type: none;
}


.container{
    max-width: 1000px!important;
    position: relative;

}

.left {
    float: left;
}
.right {
    float: right;
}
.center{
    text-align: center;
}
.header {
    height: 70px;
    background-color: #2154ec;
    width: 100%;
    position: fixed;
    z-index: 10;


}
.header .container {
    padding-left: 100px;
}

.nav-logo img{
    margin: 10px;
}
.nav-item li{
    float: left;
    margin-top: 25px;
    margin-left: 80px;

}
.nav-item li a {
    font-size: 18px;
}
.nav-item li a:hover {
    color: #0000e6;
    background-color: transparent;
}

.content{
    padding-top: 70px;
    padding-bottom: 100px;
    width:100%;
}




.footer {
    background-color: #215400;
}
.footer .contact li{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}
.footer img {
    max-width: 150px;

}










@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}

@media screen and (max-width: 980px){
    .anima-box li:nth-child(2n+1){
        clear: both;
    }
}
@media screen and (max-width: 768px){
    .my-sort, #artical-detail h4{
        margin-bottom: 3em;
    }
    .ar-content{
        padding-bottom: 4em;
    }
}
@media only screen and (max-width:450px) {
    .art-detail{
        max-height: 5em;
        line-height: 18px;
        overflow: hidden;
    }
    .ar-content{
        padding-left: 1.5em;
    }
    .my-artical {
        padding-left: 5%;
    }
}